.head{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.add{
    background-color: deepskyblue;
    color: white;
    width: 150px;
    font-weight: 700;
    height: 50px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
}
.add:hover{
    background-color:cadetblue;
}
